* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  color: #333
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  width: 200px;
  height: 200px;
}

a {
  text-decoration: none;
}

.break {
  height: 0;
  flex-basis: 100%
}

hr {
  width: 100%;
  margin: auto;
}