* {
    box-sizing:border-box;
}

.home-header {
    margin: auto;
    text-align: center;
}

.home-title {
    font-size: 2.7rem;
}

.home {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*.main-l, .main-r {
    width: 50%;
}*/

.main-l {
    text-align: center;
    background-color:#2196F3;
    padding:20px;
    float:left;
    width: 50%;
}

.img-home {
    width: 80%;
}

.main-r {
    padding: 0px 50px;
    background-color:#f1f1f1;
    padding:20px;
    float:left;
    width:50%; 
    width: 50%;
}


.block-header {
    text-align: center;
    padding: 0px 0px 30px;
}

.block-header span {
    font-size: 35px;
}

.home-content{
    font-size: 22px;
    text-align: justify;
}


.c-link-rec {
    text-align: center;
    padding-top: 30px;
}

.home_to_recomendations {
    background: #91471A;
    padding: 7px 10px;
    font-size: 2rem;
    color: #eee;
    text-decoration: none;
}



.content-block {
    text-align: center;
}

.article-header {
    font-size: 2.7rem;
    padding: 30px 0px;
}

.books-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.book-cover{
    height: 400px;
    padding: 10px 0px
}



.button2 {
    background-color:#912900;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
    text-indent:0;
	border:1px solid #912900;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
    height:50px;
	line-height:50px;
    width:140px;
	text-decoration:none;
	text-align:center;
    text-shadow:1px 1px 0px #912900;
    
}.button2:hover {
    background-color:#b83100;
    
}.button2:active {
	position:relative;
	top:1px;
}

@media (max-width: 1200px) {
    .book-cover{
        height: 250px;
    }
}
  

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
    .main-r, .main-l {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}
  
  
