@import "src/mixins.sass"

#header
    padding: 10px 0px
    .inner-header
        .logo-title
            width: fit-content
            margin: auto
            display: flex
            @include small
                margin-left: 20px
                width: 70vw

            .logo
                height: 60px

            #title
                align-self: center
                font-size: 2rem
                @include small
                    font-size: 1.6rem