.outer-header {
    height: 100px;
    padding: 18px 0;
    /* position: absolute; */
}

.header {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.header .logo {
    height: 60px;
}

#title {
    align-self: center;
    font-size: 2rem;
}