.section {
    text-align: center;
    margin: auto;
}

.section-title {
    font-size: 1.8rem;
}

.about .block-content {
    padding: 50px 0px;
    width: 65%;
    margin: auto;
}

.about .outer-section-title {
    width: fit-content;
    border-bottom: 2px solid lightgray;
}

.about .block-content .outer-section-title:first-child {
    padding: 10px 0px 5px;
    text-align: left;
}

.ideology {
    margin: 40px 0px;
    /* width: fit-content; */
    text-align: center;
}

.socrates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-ideology {
    text-align: left;
    margin: 40px 0px 0px 0px;
    line-height: 1.6;
    letter-spacing: .02rem;
    text-align: justify;
}

.text-ideology p {
    padding: 5px 0px;
}

.socrates div {
    margin: 0px 10px;
}

.socrates div:last-child {
    align-self: center;
}

.socrates-img img {
    height: 100px;
}

.socrates-credits {
    padding-top: 20px;
}

.member-card {
    -webkit-box-shadow: 3px 3px 26px -16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px 3px 26px -16px rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 26px -16px rgba(0, 0, 0, 1);
}


.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}


.member-photo {
    border-radius: 50%;
    height: 250px;
    padding: 30px;
}

.member-icon {
    width: 40px;
}

.member-icon:hover {
    transform: translateY(-2px);
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.name {
    font-size: 1.3rem;
    line-height: 2;
    letter-spacing: .3px;
}

@media (max-width: 1290px) {
    .about .block-content {
        width: 95%;
    }
}

@media (max-width: 880px) {
    .members {
        flex-direction: column;
    }

    .card-member {
        width: 270px;
        margin: 10px auto;
    }
}