.section {
    text-align: center;
    margin: auto;
}

.section-title {
    font-size: 1.8rem;
}

.block-content {
    padding: 50px 0px;
}

.block-content .outer-section-title:first-child {
    padding: 10px;
}

.socrates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socrates div {
    margin: 0px 10px;
}

.socrates div:last-child {
    align-self: center;
}

.socrates-img img {
    height: 100px;
}

.socrates-credits {
    padding-top: 20px;
}

.member-card {
    -webkit-box-shadow: 3px 3px 26px -16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px 3px 26px -16px rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 26px -16px rgba(0, 0, 0, 1);
}


.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}


.member-photo {
    border-radius: 50%;
    height: 250px;
    padding: 30px;
}

.member-icon {
    width: 40px;
}

.member-icon:hover {
    transform: translateY(-2px);
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.name {
    font-size: 1.3rem;
    line-height: 2;
    letter-spacing: .3px;
}

@media (max-width: 1366px) {
    .members .MuiPaper-root:nth-child(2)::after {
        content: "<div className='break'></div>";
    }
}